<div class="taskbar" [class.taskbar_change]="task_variable">
    <div class="task-container">
        <a href=""><img src="../../assets/images/support.png" id="support" alt=""></a>
        <a href=""><img src="../../assets/images/steer.png" id="steer" alt=""></a>
        <a href=""><i class='bx bxs-download'></i></a>
        <a (click)="chatBot()"><i class='bx bxs-chat' ></i></a>
    </div>
</div>
<div class="chatBot-Online"></div>

<div class="new-models">
<div class="section-container">
<div class="new-head">
     <h2>Genuine Ghana Purchase</h2>
</div>
<div class="new models threejs">
    <div class="new-container grid">
        <div class="carOne three container span ">
                <span><h2>Purchase</h2><p>Purchase authentically from Toyota Ghana or our trusted dealers</p></span>
        </div>
        <div class="carTwo three container one "> 
                <span><h2>Parts</h2><p style="color: white;">Enjoy using durable parts straight from us.</p></span>
        </div>
        <div class="carThree three container two ">
                <span><h2>Interior</h2><p style="color: white;">Interior at top notch</p></span>
        </div>
    </div>
</div>
<div class="more-button">
    <a href="#">More</a> 
    <span href="">|</span> 
    <a href="#">Gallery</a> 
</div>
</div>
</div>



