<div class="footer">
    <div class="container">
        <div class="links">
            <ul>
                <span>Vehicle</span>
                <li id="up"><a href="">Passenger</a></li>
                <li><a href="">SUV & Crossover</a></li>
                <li><a href="">Commerciak</a></li>
            </ul>
            <ul>
                <span>Shopping Tools</span>
                <li id="up"><a href="">Find a Dealer</a></li>
                <li><a href="">Book a Test Drive</a></li>
                <li><a href="">Compare Vehicles</a></li>
                <li><a href="">Top Financial Services</a></li>
            </ul>
            <ul>
                <span>Owners</span>
                <li id="up"><a href="">My Toyota Ghana</a></li>
                <li><a href="">Genuine Parts</a></li>
                <li><a href="">Genuine Accessories</a></li>
                <li><a href="">Toyota Services</a></li>
                <li><a href="">Warranty</a></li>
                <li><a href="">Advisory</a></li>
            </ul>
            <ul>
                <span>See Also</span>
                <li id="up"><a href="">Auto Mark - Certified Used Cars</a></li>
                <li><a href="">Toyota Africa</a></li>
                <li><a href="">Toyota Global</a></li>
                <li><a href="">Careers</a></li>
            </ul>
            <ul>
                <span>Social Media</span>
                <li id="up"><a href="">Instagram</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Youtube</a></li>
            </ul>
        </div>
        <div class="subscribe">
          <div class="title"><span>Subscribe</span></div>
          <div class="input"><input type="email" placeholder="username@mail.com"><button>Submit</button></div>
        </div>
        <div class="extra-navigation">
             <ul>
                <li><a href="#">Contact Us</a></li>
                <span>|</span>
                <li><a href="#">Dealer Locator</a></li>
                <span>|</span>
                <li><a href="#">Download Brochure</a></li>
                <span>|</span>
                <li><a href="#">Privacy Policy</a></li>
                <span>|</span>
                <li><a href="#">Site Map</a></li>
             </ul>
        </div>
    </div>
</div>
<div class="foot">
   <span>&copy; 2022 Toyota Ghana. All Rights Reserved</span>
</div>