<div class="purchase">
    <div class="section-container">
        <div class="blog">
             <h1>Genuinely Purchase</h1>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore possimus consectetur a corporis, ipsum odit ea voluptatem explicabo provident, facilis ullam assumenda vero consequuntur, vel recusandae. Ipsum illum voluptate exercitationem.</p>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore possimus consectetur a corporis, ipsum odit ea voluptatem explicabo provident, facilis ullam assumenda vero consequuntur, vel recusandae. Ipsum illum voluptate exercitationem.</p>
        </div>
        <div class="blog-picture"></div>
    </div>
</div>
<div class=" resp"></div>
