<div class="new-models">
    <div class="section-container">
        <div class="new-head">
             <h2>New Models</h2>
        </div>
        <div class="new models threejs">
            <div class="new-container grid">
                <div class="carOne three container span">
                        <span><h2>RAV 4</h2><p>Toyota's New 2022 Model</p></span>
                </div>
                <div class="carTwo three container one"> 
                        <span><h2>RAV 4</h2><p style="color: white;">Cobalt is blue</p></span>
                </div>
                <div class="carThree three container two">
                        <span><h2>New Model</h2><p style="color: white;">New details and info</p></span>
                </div>
            </div>   
        </div>
        <div class="more-button">
            <a href="#">More</a> 
            <span href="">|</span> 
            <a href="#">Gallery</a> 
        </div>
    </div>
</div>

<!-- <div class="display">
    <div class="container-display">
        <div class="disp"></div>
        <div class="disp"></div>
        <div class="disp"></div>
    </div>
</div> -->