<div class="three-s">
    <div class="container">
        <a href="#" class="sale sales">
            <img src="https://img.freepik.com/free-photo/close-up-sales-manager-black-suit-selling-car-customer_146671-14738.jpg?t=st=1739401196~exp=1739404796~hmac=446485ba57b4a8ef45f1fd36da243faf4e078089df0cfdb4c6e5188daf17885d&w=1060" alt="">
            <span>Sales</span>
        </a>
        <a href="#" class="service sales">
            <img src="https://img.freepik.com/free-photo/mechanic-fixing-car-tyre_1170-1655.jpg?t=st=1739401163~exp=1739404763~hmac=a2c4a6b8ee961cf5ea59b52acd46269ac6248cb15555393db0dad99f0d923371&w=1060" alt="">
            <span>Services</span>
        </a>
        <a href="#" class="spare sales">
            <img src="https://img.freepik.com/free-photo/different-car-accessories-composition_23-2149030385.jpg?t=st=1739401223~exp=1739404823~hmac=6402588f4f3f7aca4ad1d010284c1f78910c44abb5352196e7b2d813c97c1e5e&w=1060" alt="">
            <span>Spare Parts</span>
        </a>
        <div class="background"></div>
    </div>
</div>