<div class="tips">
    <div class="tips-container">
        <div class="head">
          <h2>Tips</h2>
        </div>
        <div *ngFor="let tip of tips" class="vehicle-usage">
            <div class="subtitle">
                 <span>{{tip.category}}</span>
            </div>
            <div class="tip">
                <div *ngFor="let tipData of tip.tips" class="container">
                    <div class="words">
                        <p>{{tipData}}</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
