<div class="tips">
    <div class="tips-container">
        <div class="head">
          <h2>Tips</h2>
        </div>
        <div class="vehicle-usage">
            <div class="subtitle">
                 <span>Vehicle Usage</span>
            </div>
            <div class="tip">
                <div class="container">
                    <div class="words">
                        <p>Tips: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aut cum distinctio reprehenderit doloremque et, sequi corporis beatae laborum cupiditate qui ad facere possimus, commodi harum est neque dicta sapiente?</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
                <div class="container">
                    <div class="words">
                        <p>Tips: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aut cum distinctio reprehenderit doloremque et, sequi corporis beatae laborum cupiditate qui ad facere possimus, commodi harum est neque dicta sapiente?</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
                <div class="container">
                    <div class="words">
                        <p>Tips: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aut cum distinctio reprehenderit doloremque et, sequi corporis beatae laborum cupiditate qui ad facere possimus, commodi harum est neque dicta sapiente?</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
            </div>
        </div>
        <div class="parts-mentainance">
            <div class="subtitle">
                <span>Parts and Maintainance</span>
           </div>
            <div class="tip">
                <div class="container">
                    <div class="words">
                        <p>Tips: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aut cum distinctio reprehenderit doloremque et, sequi corporis beatae laborum cupiditate qui ad facere possimus, commodi harum est neque dicta sapiente?</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
                <div class="container">
                    <div class="words">
                        <p>Tips: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aut cum distinctio reprehenderit doloremque et, sequi corporis beatae laborum cupiditate qui ad facere possimus, commodi harum est neque dicta sapiente?</p>
                    </div>
                    <div class="learn-more"><a href="#">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
