<div class="newsroom">
    <div class="container">
        <div class="header">
            <h2>Newsroom</h2>
        </div>
        <div class="news">
            <div class="new-deals">
                <div class="head">
                    <span>New Deals</span>
                </div>
                <div class="news-box">
                    <div  class="news-container red">
                        <img >
                        <span><h3 id="card" style="background-color: black;">Details</h3> <p>Details Information</p></span>
                        <!-- <div class="carousel-dot-container">
                            <span></span>
                        </div> -->
                        <!-- <button *ngIf="controls" class="next-btn">
                              <span (click)="onNextClick()"></span> 
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="new-deals">
                <div class="head">
                    <span>Sales</span>
                </div>
                <div class="news-box grid">
                    <div class="news-container next forward" style="margin-right: 20px;">
                        <span><h3 id="card" >Details</h3> <p>Details Information</p></span>
                    </div>
                    <div class="news-container red">
                        <span><h3 class="black" id="card"  style="background-color: black;">Details</h3 > <p>Details Information</p></span>
                    </div>
                </div>
            </div>
            <div class="new-deals top">
                <div class="head">
                    <span>Promotions</span>
                </div>
                <div class="news-box grid">
                    <div class="news-container red backward">
                        <span><h3 style="background-color: black;" class="black" id="card">Details</h3> <p>Details Information</p></span>
                    </div>
                    <div class="news-container back">
                        <span><h3 id="card" >Details</h3> <p>Details Information</p></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>